*{/* 初始化 */
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;  /* 100%窗口高度 */
    display: flex;  /* 弹性布局 居中 */
    align-items: center;    /* 垂直居中 */
    justify-content: center;    /* 水平居中 */
    background: linear-gradient(200deg,#e3c5eb,#a9c1ed);  /* 渐变背景 */
    overflow: hidden;   /* 溢出隐藏 */
}

.container{
    position: relative;
    z-index: 1;
    background-color: #fff;
    border-radius: 15px;
    display: flex;  /* 弹性布局 垂直排列 */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 500px;  /* 阴影 */
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.container .tit{
    font-size: 30px;
    margin: 65px auto 70px auto;
}

.container input{
    width: 280px;
    height: 30px;
    text-indent: 8px;
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
    margin: 12px auto;
}

.container button{
    width: 280px;
    height: 40px;
    margin: 35px auto 40px auto;
    border: none;
    background: linear-gradient(-200deg,#fac0e7,#aac2ee);
    color: #fff;
    font-weight: bold;
    letter-spacing: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;   /* 动画过渡 */
}

.container button:hover{
    background: linear-gradient(-200deg,#aac2ee,#fac0e7);
    background-position-x: -280px;
}

.container span{
    font-size: 14px;
}

.container a{
    color: plum;
    text-decoration: none;
}