*{
    margin: 0;  /*外边距 */
    padding: 0; /*内边距 */
    font-size: 18px;    /* 字体大小 */
}

a:hover{    /* 用来表示鼠标移入的状态 */
    color: aqua;      
    font-size: 25px;
    transition: all 0.5s;  /*悬停，延迟*/
}

a:link{
    color: red;
}

a:visited{
    color: green;
}


.box{
    width: 1300px;
    margin: 25px auto;  /*上下外边距20，左右居中/
    /* margin如果有四个参数则代表上、右、下、左边距 */
}

    .pages{
        margin: 40px;
    }

img{
    width: 100%;
    margin-left: -10px;
}   /* 选中img，设置图片 */

.pages{
    text-align: center; /*字体：居中*/
}

.news_list span{
    float: right;   /* 元素浮动：left right */
    color: rgb(161, 161, 161);
}

h1{
    color: rgb(18, 88, 192);
    font-size: 40px;    
    line-height: 75px;  /*线高度*/
    border-bottom: 5px solid #288bb9; /*下划线：像素 实线 颜色*/
}

ul,li{
    list-style: none;  /*：去除效果*/
}

a{
    text-decoration: none;  /*：去除效果*/
}

a:active{       /*表示鼠标点击时*/
    color: yellow;
    transition: none;
}

.news_list ul li{
    /* letter-spacing:2px; */
    border-bottom: 2px dashed #c4c4c4;
    padding: 6px 0px 6px 14px;
    background: url(../media_file/img/list_dot.jpg) no-repeat left center;
}
