* {
    margin: 0;
    padding: 0;
}

body{
    margin: 0 auto;
    background-image: linear-gradient(181deg, #30cfd0 0%, #330867 100%);  /* 渐变背景 */
    font-family: "微软雅黑";
    font-size: 14px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: rgb(150, 148, 235);
}

input{
    padding: 2px;
}

.box {  /* 居中 */
    width: 1000px;
    margin: 0 auto; 
}

/* 清除浮动 */
.cleargfix:before,
.clearfix:after{
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}
.clearfix{
    zoom: 1;
}


/* 头部模块 */
.logo{
    float: left;
}
.login{
    float: right;
    margin-top: 8px;
}

.login ul li{
    float: right;
    margin-left: 15px;
    line-height: 23px;
}
.login ul li span{
    color: #4a7afd;
    font-weight: bold;

}
.login input{
    width: 50px;
}
.login ul li a{
    font-weight: bold;
}
.login ul li a:hover{
    color: aqua;
}
.nav{
    height: 49px;
    background-color: #055F98;
}
.banner{
    height: 150px;
    background-color:#4EB4D3;
}
.nav ul li{
    float: left;
    line-height: 49px;
}
.nav ul li a{
    display: block;/* 将a转换为块元素 */
    padding: 0 17px;    /* 控制左右内边距 */
    color: #fff;
    font-weight: bold;  /* 字体加粗 */
    font-size: 18px;
}
.nav ul li:first-child{ /* 选中指定路径的第一个元素 */
    margin-left: -10px;
}

.nav ul li a:hover{ /* 当鼠标移入时 */
    background-color: #044369;
    color: #30B1C0;
    transition: 0.3s;
    font-size: 24px;
    cursor: pointer;/* 设定网页浏览时用户鼠标指针的样式 */
}

.copyright{
    height: 30px;
    background-color: #33106B;
}
.copyright .copy{
    color: rgb(212, 212, 212);
    width: 315px;
    margin: 6px auto;
}
.foolter{
    margin-top: 270px;
    height: 110px;
    background-color: #324587;
}
.item1{
    float: left;
    margin: 12.5px auto;
    padding-left: 330px;
    padding-right: 120px;
}
.item2{
    margin: 12.5px auto;
    float: left;
    padding-right: 120px;
}
.item3{
    margin: 12.5px auto;
    float: left;
    padding-right: 120px;
}
.item4{
    margin: 12.5px auto;
    float: left;
    padding-right: 120px;
}
.item5{
    margin: 12.5px auto;
    float: left;
}
.item a{
    display: inline-block;
    line-height: 21px;
}
.item a:hover{
    color: #FE700C;
}