* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(203, 231, 248);
    font-size: 14px;
}

ul,
li,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(53, 53, 53);
}

input {
    padding: 4px;
    size: 20px;
}

.top,
.box {
    width: 1000px;
    margin: 0 auto;
}


/* 清除浮动 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}


/* 头部 */

.logo {
    float: left;
}

.login {
    float: right;
    margin-top: 1.2px;
}

.login ul li {
    float: left;
    margin-left: 10px;
    line-height: 39px;
    height: 39px;
}

.login ul li span {
    color: rgb(225, 138, 17);
    font-weight: bold;
}

.login input {
    width: 60px;
}


/* .login ul li a {
    font-weight: bold;
} */

.login ul li a:hover {
    color: rgb(225, 138, 17);
    font-weight: bold;
}

.banner {
    background-color: #4eb4d3;
}

.nav {
    height: 48px;
    background: #055f98;
}

.nav .box ul li {
    float: left;
    line-height: 48px;
    margin: 0px 10px;
}

.nav .box ul li a {
    color: #fff;
    font-size: 16px;
}

.nav .box ul li a:hover {
    font-weight: bold;
    color: rgb(225, 138, 17);
}


/* 新闻 */

.xw_left,
.fc_left,
.ly_left,
.jj_left,
.ms_left {
    float: left;
}

.xw_left img {
    width: 445px;
    height: 250px;
}

.link {
    padding-left: 48px;
}

.b_link {
    width: 180px;
    float: left;
    margin: 12.5px auto;
}

.link a {
    display: inline-block;
    line-height: 21px;
}

.link a:hover {
    color: #FE700C;
}

.copyright {
    text-align: center;
}

.news_list a {
    font-weight: bold;
    /* line-height: 30px;
    font-size: 20px; */
    text-decoration: none;
    color: rgb(61, 60, 60);
}

.news_list ul li {
    list-style: none;
    border-bottom: 1px dashed #999898;
    padding: 6px 0px 6px 14px;
}

.news_list a:hover {
    color: rgb(0, 134, 252);
    /* font-size: 28px; */
    font-weight: bold;
    transition: all 0.5s;
    /*悬停，延迟*/
}


/* 房产教育 */

.fc1 {
    float: left;
    border-bottom: 1px dashed rgb(204, 204, 204);
}

.fc1 img {
    margin: 5px;
    float: left;
    border: 1px solid rgb(204, 204, 204);
    padding: 5px;
    background: rgb(255, 255, 255);
}

.fc_left {
    height: 220px;
}

.fc_left h3 {
    padding-top: 5px;
}

.jytp img {
    padding: 5px 4px;
}