* {
    margin: 0;
    padding: 0;
}

body{
    margin: 0 auto; /* 居中 */
    background-image: linear-gradient(181deg, #30cfd0 0%, #330867 100%);  /* 渐变背景 */
    font-family: "微软雅黑";    /* 字体 */
    font-size: 14px;    /* 字体大小 */
    background-repeat: no-repeat;   /* 背景不重复 */
}

li{ /* 去除li样式 */
    list-style: none;
}

a{
    text-decoration: none;/* 去除a标签样式和下划线 */
    background-image: linear-gradient(to right, orange, rgb(165, 101, 165));
    -webkit-background-clip: text;
    color: transparent;
    /*  background-image 属性为该文字区域设置一个渐变的背景色
color:transparent把该区域的文字颜色设置为透明
background-clip:text将背景裁剪成文字的前景色
需要注意的是，background-clip:text 还只是一个实验中的属性，Chrome、FireFox等多数浏览器较新的版本已经实现了，但是IE不行。
 */
}

.login  input{  /* 
    20行左右
    */
    padding: 2px;
    width: 50px;
}

.box {  /* 母盒居中 */
    width: 1000px;
    margin: 0 auto; 
}

.cleargfix:before,/* 清除浮动 */
.clearfix:after{
    content: "";
    display: table;
    clear: both;
    zoom: 1;
}

/* 头部模块 */
.logo{  /* 
    14行左右
    */
    float: left;
}
.login{     /* 
    16行左右
    */
    float: right;
    margin-top: 8px;
}

.login ul li{
    float: right;
    margin-left: 15px;
    line-height: 23px;
}
.login ul li span{
    color: #4a7afd;
    font-weight: bold;
}

.login ul li a{
    font-weight: bold;
}
.login ul li a:hover{
    color: #FE700C;
}
.nav{
    height: 49px;
    background-color: #055F98;
}
.banner{
    height: 150px;
    background-color:#4EB4D3;
}
.nav ul li{
    float: left;
    line-height: 49px;
}
.nav ul li a{
    display: block;/* 将a转换为块元素 */
    padding: 0 17px;    /* 控制左右内边距 */
    color: #fff;
    font-weight: bold;  /* 字体加粗 */
    font-size: 18px;
}
.nav ul li:first-child{ /* 选中指定路径的第一个元素 */
    margin-left: -10px;
}

.nav ul li a:hover{ /* 当鼠标移入时 */
    background-color: #044369;
    color: #FE700C;
    transition: 0.3s;
    font-size: 24px;
    cursor: pointer;/* 设定网页浏览时用户鼠标指针的样式 */
}

.copyright{
    height: 30px;
    background-color: #33106B;
    margin-top: 10px;
}
.copyright .copy{
    color: rgb(212, 212, 212);
    width: 315px;
    margin: 10px auto;
}
.foolter{
    height: 110px;
    background-color: #324587;
    margin: 270px auto auto ;
}
.fuwu{
    width: 1000px;
    margin: 0 auto;
    padding-left: 200px;
}
.item1{
    float: left;
    margin: 12.5px auto;
    padding-right: 120px;
}

.item a{
    display: inline-block;
    line-height: 21px;
}
.item a:hover{
    color: #FE700C;
}

/* 新闻模块 */
.right {
    height: 240px; width: 540px; float: right;
    position: relative;
}
.box .left .right .xinwen.h2{
    position: absolute;/* 绝对定位 */
    float: left;
    height: 27.4px;
    width: 50px;
}

.right .more{
    float: right;
    position: absolute;/* 绝对定位 */
    left: 494px;
    top: 4px;
}
.box .bold{ /* 设置标题下划线 
    160行左右
    132行左右
    62行左右    
    */
    width: 100%;
    height: 0;
    border-bottom: 2px solid rgb(140, 140, 140);
    padding-bottom: 7px;
}
.right ul li span{
    float: right;
}
.right ul li a{
    color: rgb(32, 32, 32);
}
.right ul li {
    color: rgb(76, 76, 76);padding-top: 5px;
}
.right ul li a:hover{ /* 当鼠标移入时 */
    background-color: #044369;
    color: #30B1C0;
    transition: 0.3s;
    font-size: 20px;
    cursor: pointer;/* 设定网页浏览时用户鼠标指针的样式 */
}
.box .left img{
width: 440px;
height: 240px;
float: left;
box-shadow: 11px 11px 11px rgba(0, 0, 0, 0.3);/* 设置图片阴影 */
}
.box .img img{
    margin-top: 12px;
}
.box .leftt {
    height: 320px; width: 440px; background-color: rgb(164, 181, 255); float: left;margin-top: 14px;
}

.box .leftt .xinwen.h2{
float: left;
}
.box .leftt{
position: relative;
}
.box .leftt .more{
position: absolute;
top: 6px;
left: 390px;
}

.box .left {
    position: relative;
    margin-top: 14p;
}
.box .left .yy{
    position: absolute;
    top: 188px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 90px 5px 14px;
}
.box .left .yy p{
    margin-bottom: -16px;
    color: aliceblue;
}
.box .left .yy a{
    color: aliceblue;
}
.box .leftt .fangchan img{
    width: 100px;
    height: 100px;
    float: left;
    padding: 6px;
    border:1px solid rgb(138, 138, 138);
    margin: 12px 12px 0 12px;
}
.box .leftt .con{
    margin: 12px;color: rgb(94, 94, 94);
    line-height: 22px;
}
.box .leftt .con p{
    font-weight: bold;
    color:#144bff;
}
.box .leftt .hrr{
    border-bottom:2px dashed;
    color: #858585;
}
.box .jiaoyu{
    height: 320px;
     width: 540px;
      background-color: #9baaff; float: right;
    margin-top: 14px;
}

.box .jiaoyu ul li{
    margin: 4px;
    height: 100px;
    width: 126px;
    float: left;
}
.box .jiaoyu ul li a{
    color: #144BFF;
    font-size: 11px;
    padding-left: 6px;
}
.box .jiaoyu ul li a:hover{
    color: crimson;
}
.box .jiaoyulist{
    height: 200px;
    margin-top: 140px;
}
.box .jiaoyu .newslistbox li img{
    margin-left: 7px;
}
.box .right .jiaoyulist span{
    float: right;
    display: inline;
    color: #b8b8b8;
    margin-top: 14px;
}
.box .jiaoyu ul li:last-child a{
    padding-left: 16px;
}
.box .jiaoyu ul li:nth-child(3) a{
    padding-left: 9px;
}
.box .right .jiaoyulist div{

    margin-top: 14px;
    border-bottom: rgb(137, 137, 137) 2px dashed;
}