@import "./color";

body {
	.head-title {
		height: 30px;
		font-size: 13px;
		color: #616161;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.head-title-left {
			width: 450px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.title-login {
				color: $meituan;
			}
		}
		.head-title-right {
			width: 350px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;
			// 移入显示
			li {
				width: 70px;
				line-height: 30px;
				text-align: center;
				&:first-child:hover .head-title-right-list,
				&:nth-child(4):hover .head-title-right-list-ruls,
				&:nth-child(5):hover .head-title-right-list-ruls {
					display: block;
				}
				&:first-child:hover,
				&:nth-child(4):hover,
				&:nth-child(5):hover {
					cursor: pointer;
					background-color: $white;
				}
			}
			.head-title-right-list,
			.head-title-right-list-ruls {
				width: 68px;
				display: none;
				border: 1px solid #ccc;
				border-top: none;
				background-color: $white;
				position: absolute;
				top: 28px;
				z-index: 99;
			}
		}

		a:hover {
			color: $meituan;
		}
	}

	.background-all {
		background-color: $white;
	}
	.head-logo {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: $white;
		height: 100px;
		.logo {
			img {
				height: 50px;
			}
		}
		.search {
			width: 560px;
			margin-right: 320px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;
			input {
				width: 450px;
				height: 35px;
				border: 1px solid #ccc;
				padding: 0 20px;
				outline: none;
			}
			button {
				&:hover {
					cursor: pointer;
					color: $white;
				}
				width: 85px;
				height: 37px;
				background-color: $meituan;
				color: #fff;
				border: none;
				outline: none;
			}
			.fa-magnifying-glass {
				position: absolute;
				top: 12px;
				right: 58px;
				color: #f5f5f5;
			}
		}
	}
	.home-nav-classifications {
		ul {
			display: flex;
			justify-content: space-around;
			align-items: center;
			background-color: $white;
			margin-top: 22px;
			li {
				width: 138px;
				display: flex;
				justify-content: center;
				align-items: center;

				a {
					width: 100%;
					text-align: center;
					font-size: 18px;
					font-weight: bold;
					color: $aw-color-gray-0;
					line-height: 55px;
					&:hover {
						color: $white;
						background-color: $meituan;
					}
				}
				&:first-child {
					width: 240px;
					a {
						color: $meituan;
					}
				}
			}
		}
	}
	.home-nav {
		.home-nav-box {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.home-nav-right {
				width: 238px;
				border: 1px solid #ccc;
				border-top: none;
				background-color: $white;
				ul {
					width: 238px;

					li {
						width: 238px;
						height: 30px;
						display: flex;
						color: #616161;
						justify-content: space-between;
						align-items: center;
						&:hover span {
							color: $meituan;
						}
						&:hover {
							background-color: $aw-color-gray-7;
						}
						&:hover .hidden-latent-perdue {
							display: block;
						}
						a {
							width: 100%;
							&:hover {
								color: $meituan;
							}
							.fa-pizza-slice {
								color: #e8882d;
							}
							.fa-drumstick-bite {
								color: #f6b325;
							}
							.fa-hospital {
								color: #97675c;
							}
							.fa-people-roof {
								color: #fbb853;
							}
							.fa-message {
								color: #f74136;
							}
							.fa-music {
								color: #4caae3;
							}
							.fa-headphones-simple {
								color: #38b88d;
							}
							.fa-child-dress {
								color: #ed4d84;
							}
							.fa-mug-saucer {
								color: #fb3d7e;
							}
							.fa-train-subway {
								color: #eb6796;
							}
							.fa-tent-arrow-down-to-line {
								color: #f6020b;
							}
							.fa-hand-spock {
								color: #70caab;
							}
							.fa-shopify {
								color: #52c8ac;
							}
							.fa-tag {
								color: #48a6ec;
							}
							.fa-reply-all {
								color: #55cba4;
							}
							i {
								padding-left: 8px;
								padding-right: 12px;
								vertical-align: baseline;
								line-height: 100%;
								width: 18px;
								text-align: center;
							}
						}
						span {
							font-size: 16px;
							margin-right: 22px;
						}
						.hidden-latent-perdue {
							display: none;
							ul {
								position: absolute;
								z-index: 999;
								height: 448px;
								width: 763px;
								top: 208px;
								background-color: $white;
								display: flex;
								flex-wrap: wrap;
								align-items: center;
								box-shadow: 0 8px 16px rgb(0 0 0 / 18%);
								li {
									a {
										display: flex;
										align-items: center;
										&:hover {
											background-color: $aw-color-gray-7;
										}
										line-height: 62px;
										text-align: center;
										img {
											margin-left: 20px;
											margin-right: 28px;
											width: 75px;
										}
									}
								}
							}
						}
					}
				}
			}
			.home-nav-left {
				height: 450px;
				width: 750px;
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				.home-nav-left-img {
					width: 750px;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					height: 270px;
					img {
						height: 256px;
					}
				}
				.home-nav-left-img-two {
					height: 185px;
					img {
						height: 177px;
					}
				}
			}
			.user-info {
				width: 190px;
				border: 1px solid #ccc;
				.user-info-user {
					height: 250px;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					flex-wrap: wrap;
					img {
						border-radius: 50%;
					}
					h3 {
						margin: 10px 0;
					}
					button {
						width: 100px;
						height: 30px;
						border: 1px solid #ccc;
						border-radius: 5px;
						background-color: $white;
						color: #616161;
						&:hover {
							color: $meituan;
						}
						&:last-child {
							margin-top: 10px;
						}
					}
				}
				.user-info-qrcode {
					height: 200px;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					flex-wrap: wrap;
					img {
						width: 100px;
						height: 100px;
					}
					p {
						margin: 10px 0;
					}
					span {
						color: #f6020b;
						font-weight: bold;
					}
				}
			}
		}
	}
	.el-carousel__item h3 {
		color: #475669;
		font-size: 14px;
		opacity: 0.75;
		line-height: 200px;
		margin: 0;
	}

	.el-carousel__item:nth-child(2n) {
		background-color: #99a9bf;
	}

	.el-carousel__item:nth-child(2n + 1) {
		background-color: #d3dce6;
	}
	.el-carousel__container,
	.el-carousel {
		width: 584px;
		height: 256px;
	}

	.maoyan-container {
		margin-top: 40px;
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}
	.page.index {
		text-align: center;
	}
	.index-nav-container {
		width: 100%;
		height: 44px;
		line-height: 44px;
		box-sizing: border-box;
		font-size: 14px;
		color: #fff;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
	}
	.index-nav-container .title {
		font-size: 18px;
		margin-left: 13px;
		margin-right: 10px;
	}

	.index-nav-container .nav-item {
		float: left;
		padding: 0 5px;
		position: relative;
		cursor: pointer;
		text-transform: uppercase;
	}
	.index-nav-container .nav-item {
		float: left;
		padding: 0 5px;
		position: relative;
		cursor: pointer;
		text-transform: uppercase;
	}
	.index-nav-container .nav-item {
		float: left;
		padding: 0 5px;
		position: relative;
		cursor: pointer;
		text-transform: uppercase;
	}
	.index-nav-container .total {
		float: right;
		margin-right: 12px;
	}
	.index-nav-container .nav-item {
		float: left;
		padding: 0 5px;
		position: relative;
		cursor: pointer;
		text-transform: uppercase;
	}

	.index-nav-container .total a {
		color: #fff;
	}

	.slider {
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
	}

	.slider .slider-content {
		position: relative;
		height: 100%;
		transition: left 0.5s;
		transition-timing-function: ease-out;
		width: 10000000px;
	}

	.slider .slider-content .slider-item-film {
		height: 297px;
		width: 214px;
		float: left;
		margin-right: 19px;
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: 50%;
		position: relative;
	}

	.slider .slider-content .slider-item-film .film-img {
		border-radius: 4px;
		width: 100%;
		border: 0px;
	}

	.slider .slider-content .slider-item-film .film-mark {
		position: absolute;
		top: 10px;
		z-index: 99;
		left: -6px;
		height: 20px;
		box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
		width: auto;
		border: 0px;
	}

	.slider .slider-content .slider-item-film .film-info {
		height: 100px;
		width: 100%;
		position: absolute;
		bottom: 0;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		background-image: linear-gradient(
			-180deg,
			rgba(0, 0, 0, 0) 0%,
			rgba(29, 45, 55, 0.8) 99%
		);
	}

	.slider .slider-content .slider-item-film .film-info .film-score {
		font-size: 12px;
		color: #fff;
		text-align: left;
		margin-top: 48px;
		padding-left: 10px;
		font-weight: 500;
	}
	.slider .slider-content .slider-item-film .film-info .film-score span {
		font-size: 16px;
		color: #fd9827;
		font-weight: 500;
	}

	.slider .slider-content .slider-item-film .film-info .film-name {
		text-align: left;
		color: #fff;
		padding-left: 10px;
		font-size: 16px;
		white-space: nowrap;
		width: 6em;
		overflow: hidden;
		text-overflow: ellipsis;
		font-weight: 500;
	}

	.slider .slider-content .slider-item-film .film-info .buy-ticket {
		background: #ff4949;
		border-radius: 100px;
		color: #fff;
		padding: 2px 12px 3px 12px;
		font-size: 14px;
		position: relative;
		top: -24px;
		cursor: pointer;
		line-height: 20px;
		text-align: center;
		float: right;
		right: 10px;
	}

	.slider .btn {
		width: 40px;
		height: 40px;
		background: #333;
		position: absolute;
		z-index: 99;
		top: 43%;
		border-radius: 40px;
		opacity: 0;
		transition: opacity 0.5s;
		transform: scale(0.95);
	}

	.slider .btn .iconfont {
		color: #fff;
		text-align: center;
		font-size: 20px;
		line-height: 40px;
	}

	.slider .btn {
		width: 40px;
		height: 40px;
		background: #333;
		position: absolute;
		z-index: 99;
		top: 43%;
		border-radius: 40px;
		opacity: 0;
		transition: opacity 0.5s;
		transform: scale(0.95);
	}

	.slider-pagination {
		position: absolute;
		z-index: 99;
		bottom: 8px;
		left: 50%;
	}

	.slider-pagination .pagination {
		float: left;
		width: 10px;
		height: 2px;
		margin-right: 10px;
		transition: opacity 0.5s;
		background: #333;
	}

	.slider-pagination .pagination:last-child {
		margin-right: 0;
	}
	.slider-pagination .pagination {
		float: left;
		width: 10px;
		height: 2px;
		margin-right: 10px;
		transition: opacity 0.5s;
		background: #333;
	}

	.zhenguo-container {
		position: relative;
		margin: 40px auto;
	}
	.index-nav-container {
		width: 100%;
		height: 44px;
		line-height: 44px;
		box-sizing: border-box;
		font-size: 14px;
		color: #fff;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
	}

	.index-nav-container .title {
		font-size: 18px;
		margin-left: 13px;
		margin-right: 10px;
	}
	.index-nav-container .nav-item {
		float: left;
		padding: 0 5px;
		position: relative;
		cursor: pointer;
		text-transform: uppercase;
	}
	.mf-shang-hei-regular {
		font-family: "MFShangHei-Regular" !important;
	}

	.index-nav-container .nav-item {
		float: left;
		padding: 0 5px;
		position: relative;
		cursor: pointer;
		text-transform: uppercase;
	}

	.minsu-ls-view {
		padding: 20px;
		padding-right: 0;
		padding-bottom: 0;
		border: 1px solid #e5e5e5;
		border-top: 0px;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		background: #fff;
	}

	.minsu-ls-view .minsu-item {
		float: left;
		margin-right: 18px;
	}

	.minsu-ls-view .minsu-item .product-card-header {
		position: relative;
	}

	.minsu-ls-view .minsu-item .product-card-header .product-img {
		width: 370px;
		height: 208px;
		border-radius: 4px;
		background: url(//p0.meituan.net/travelcube/214b841….png);
		background-size: cover;
		background-position: 50%;
		max-width: 100%;
		height: 208px;
		margin-bottom: 11px;
		cursor: pointer;
	}

	.minsu-ls-view .minsu-item .product-card-header .head-img {
		border: 2px solid #ffffff;
		height: 48px;
		width: 48px;
		position: absolute;
		bottom: -12px;
		right: 15px;
		z-index: 9;
		border-radius: 40px;
		background-image: url(https://p0.meituan.net/mmc/35ad1f9….png);
		background-size: 100%;
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}

	.minsu-ls-view .minsu-item .product-info {
		text-align: left;
		padding-bottom: 25px;
	}

	.minsu-ls-view .minsu-item .product-info .product-title {
		font-size: 16px;
		color: #222222;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		margin: 7px 0;
		font-weight: 400;
		width: 297px;
	}

	.minsu-ls-view .minsu-item .product-info .sub-title {
		font-size: 12px;
		color: #999999;
		text-align: left;
	}
	.minsu-ls-view .minsu-item .product-info .sub-title {
		font-size: 12px;
		color: #999999;
		text-align: left;
	}

	.minsu-ls-view .minsu-item .product-info .price {
		font-weight: 500;
		font-size: 22px;
		color: #ff6600;
		letter-spacing: -0.8px;
		padding: 4px 0;
	}

	.minsu-ls-view .minsu-item .product-info .price .price-icon {
		font-size: 14px;
	}
	.minsu-ls-view .minsu-item .product-info .price {
		font-weight: 500;
		font-size: 22px;
		color: #ff6600;
		letter-spacing: -0.8px;
		padding: 4px 0;
	}
	.minsu-ls-view .products {
		display: flex;
		flex-wrap: wrap;
	}

	.minsu-ls-view .minsu-item {
		float: left;
		margin-right: 18px;
	}

	.minsu-ls-view .minsu-item .product-card-header {
		position: relative;
	}

	.minsu-ls-view .minsu-item .product-card-header .product-img {
		width: 370px;
		height: 208px;
		border-radius: 4px;
		background: url(//p0.meituan.net/travelcube/214b841….png);
		background-size: cover;
		background-position: 50%;
		max-width: 100%;
		height: 208px;
		margin-bottom: 11px;
		cursor: pointer;
	}

	.minsu-ls-view .minsu-item .product-card-header .head-img {
		border: 2px solid #ffffff;
		height: 48px;
		width: 48px;
		position: absolute;
		bottom: -12px;
		right: 15px;
		z-index: 9;
		border-radius: 40px;
		background-image: url(https://p0.meituan.net/mmc/35ad1f9….png);
		background-size: 100%;
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}

	.minsu-ls-view .minsu-item .product-info {
		text-align: left;
		padding-bottom: 25px;
	}

	.minsu-ls-view .minsu-item .product-info .product-title {
		font-size: 16px;
		color: #222222;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		margin: 7px 0;
		font-weight: 400;
		width: 297px;
	}

	.minsu-ls-view .minsu-item .product-info .sub-title {
		font-size: 12px;
		color: #999999;
		text-align: left;
	}
	.minsu-ls-view .minsu-item .product-info .sub-title {
		font-size: 12px;
		color: #999999;
		text-align: left;
	}
	.minsu-ls-view .minsu-item .product-info .sub-title {
		font-size: 12px;
		color: #999999;
		text-align: left;
	}
	.minsu-ls-view .minsu-item .product-info .sub-title {
		font-size: 12px;
		color: #999999;
		text-align: left;
	}

	.minsu-ls-view .minsu-item .product-info .price {
		font-weight: 500;
		font-size: 22px;
		color: #ff6600;
		letter-spacing: -0.8px;
		padding: 4px 0;
	}

	.minsu-ls-view .minsu-item .product-info .price .price-icon {
		font-size: 14px;
	}

	.recommend-container {
		margin-top: 40px;
		margin-left: auto;
		margin-right: auto;
	}
	.index-nav-container {
		width: 100%;
		height: 44px;
		line-height: 44px;
		box-sizing: border-box;
		font-size: 14px;
		color: #fff;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
	}

	.index-nav-container .title {
		font-size: 18px;
		margin-left: 13px;
		margin-right: 10px;
	}
	.index-nav-container .nav-item {
		float: left;
		padding: 0 5px;
		position: relative;
		cursor: pointer;
		text-transform: uppercase;
	}
	.mf-shang-hei-regular {
		font-family: "MFShangHei-Regular" !important;
	}

	.index-nav-container .nav-item {
		float: left;
		padding: 0 5px;
		position: relative;
		cursor: pointer;
		text-transform: uppercase;
	}

	.recommend-container .recommend-list {
		background-color: #fff;
		border: 1px solid #e5e5e5;
		border-top: 0;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		max-height: 758px;
		padding: 10px 10px 20px;
		width: 100%;
		box-sizing: border-box;
		overflow-y: hidden;
		text-align: left;
	}

	.recommend-container .recommend-list .recommend-item {
		//margin-bottom: 20px;
		//padding: 0 10px;
		display: inline-block;
		width: 20%;
		box-sizing: border-box;
		vertical-align: middle;
	}

	.recommend-container .recommend-list .recommend-item .card-container {
		padding: 10px;
	}

	.recommend-card-wrapper {
		width: 100%;
		box-sizing: border-box;
	}

	.recommend-card-wrapper .img-box {
		height: 0;
		width: 100%;
		padding-bottom: 56.25%;
		background-color: #f4f4f4;
		background-image: url(//p0.meituan.net/travelcube/214b841….png);
		background-size: cover;
		background-position: 50% 50%;
		border-radius: 4px;
		overflow: hidden;
	}

	.recommend-card-wrapper .img-box img {
		width: 100%;
		font-size: 0;
	}

	.recommend-card-wrapper .info-box {
		position: relative;
		margin-top: 10px;
	}

	.recommend-card-wrapper .info-box .title.aligned {
		font-size: 16px;
		line-height: 22px;
		width: 100%;
		height: 22px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	.recommend-card-wrapper .info-box .score-line.aligned {
		height: 24px;
	}

	.recommend-card-wrapper .info-box .score-line div {
		display: inline-block;
	}

	.recommend-card-wrapper .info-box .score-line div {
		display: inline-block;
	}
	.rate-stars {
		width: 84px;
		height: 24px;
		position: relative;
		display: inline-block;
	}

	.rate-stars-dark {
		color: #c3c3c3;
	}
	.rate-stars-ul {
		list-style: none;
		padding: 0;
		text-align: left;
		margin: 3px 0;
		white-space: nowrap;
	}

	.rate-stars-ul > li {
		display: inline-block;
		padding: 0px 2px;
	}

	.iconfont {
		font-family: "iconfont" !important;
		font-size: 12px;
		font-style: normal;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.rate-stars-light {
		color: #ff9900;
		position: absolute;
		top: 0px;
		overflow: hidden;
	}
	.rate-stars-ul {
		list-style: none;
		padding: 0;
		text-align: left;
		margin: 3px 0;
		white-space: nowrap;
	}

	.rate-stars-ul > li {
		display: inline-block;
		padding: 0px 2px;
	}

	.recommend-card-wrapper .info-box .score-line .comment-number {
		font-size: 12px;
		color: #999;
		height: 24px;
		line-height: 24px;
		margin-left: 10px;
	}
	.recommend-card-wrapper .info-box .score-line div {
		display: inline-block;
	}

	.recommend-card-wrapper .info-box .desc-line.aligned {
		height: 18px;
	}

	.recommend-card-wrapper .info-box .desc-line .desc {
		font-size: 12px;
		color: #999999;
		width: 100%;
		height: 18px;
		line-height: 18px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		margin-top: 4px;
	}

	.recommend-card-wrapper .info-box .bottom-line.aligned {
		height: 28px;
	}
	.recommend-card-wrapper .info-box .bottom-line {
		position: relative;
	}

	.recommend-card-wrapper .info-box .bottom-line .price-box {
		color: #ff6600;
	}
	.recommend-card-wrapper .info-box .bottom-line div {
		display: inline-block;
	}
	.recommend-card-wrapper .info-box .bottom-line .price-box {
		color: #ff6600;
	}

	.recommend-card-wrapper .info-box .bottom-line .price-box .yuan {
		font-size: 14px;
		font-weight: 700;
	}
	.recommend-card-wrapper .info-box .bottom-line .price-box {
		color: #ff6600;
	}

	.recommend-card-wrapper .info-box .bottom-line .price-box .price-number {
		font-size: 22px;
		letter-spacing: -0.5;
	}
	.numfont {
		font-family: "numbers" !important;
		letter-spacing: -0.5px;
	}

	.recommend-card-wrapper .info-box .bottom-line .price-box .price-desc {
		font-size: 12px;
		margin-left: 4px;
		font-weight: 700;
	}
	.comment-number {
		float: right;
	}
	// 底部导航
	.botton-nav {
		margin: 40px auto 0;
		width: 1190px;
		height: auto;
		border: 1px solid #e5e5e5;
		border-radius: 4px;
		background: #ffffff;
	}

	.botton-nav .title {
		width: auto;
		height: 44px;
		font-size: 16px;
		font-weight: 500;
		color: #222222;
		text-align: left;
		padding-left: 20px;
		padding-top: 6px;
		line-height: 44px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		/* margin-bottom: 6px; */
	}

	.botton-nav .b-n-content {
		width: 100%;
		height: auto;
	}
	dl {
		margin: 0;
	}

	.botton-nav .b-n-content .b-n-classification {
		width: 100%;
		height: auto;
		overflow: hidden;
	}

	.botton-nav .b-n-content .b-n-classification .b-n-subtitle {
		width: 100px;
		height: 100%;
		float: left;
		font-size: 14px;
		font-weight: 500;
		color: #222222;
		text-align: center;
		padding: 10px 0;
	}

	.botton-nav .b-n-content .b-n-classification .b-n-sublist {
		width: 1090px;
		height: auto;
		padding-top: 12px;
		float: left;
		border-bottom: 1px solid #e5e5e5;
		overflow: hidden;
	}

	.botton-nav .b-n-content .b-n-classification .b-n-sublist .b-n-list-item {
		width: 100px;
		height: 17px;
		font-size: 12px;
		text-align: left;
		margin-bottom: 13px;
		float: left;
	}

	.botton-nav .b-n-content .b-n-classification .b-n-sublist .b-n-list-item a {
		display: block;
		width: 80px;
		cursor: pointer;
		color: #666666;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	.botton-nav .b-n-content .b-n-classification {
		width: 100%;
		height: auto;
		overflow: hidden;
	}

	.botton-nav
		.b-n-content
		.b-n-classification
		.b-n-sublist
		.b-n-list-item
		.nav-promotion {
		font-size: 12px;
		color: #fff;
		background: #ff4848;
		font-weight: 400;
		border-radius: 10px;
		padding: 0 6px;
		margin: 0 5px;
		position: relative;
		top: -1px;
	}
}
