@import "./_reset";
@import "./color";
* {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

// 盒模型标准
*,
*::before,
*::after {
	box-sizing: content-box;
}

html {
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
}

// body基准
body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: $content-width;
	height: 100%;
	background-color: $aw-color-gray-7;
	color: $black;
	line-height: 1.375;
}
