@charset "UTF-8";
/*常用颜色*/
/*Office 颜色*/
/*灰阶*/
/*Voclaoid 颜色*/
body .head-title {
  height: 30px;
  font-size: 13px;
  color: #616161;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .head-title .head-title-left {
  width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .head-title .head-title-left .title-login {
  color: #ffd103;
}
body .head-title .head-title-right {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
body .head-title .head-title-right li {
  width: 70px;
  line-height: 30px;
  text-align: center;
}
body .head-title .head-title-right li:first-child:hover .head-title-right-list, body .head-title .head-title-right li:nth-child(4):hover .head-title-right-list-ruls, body .head-title .head-title-right li:nth-child(5):hover .head-title-right-list-ruls {
  display: block;
}
body .head-title .head-title-right li:first-child:hover, body .head-title .head-title-right li:nth-child(4):hover, body .head-title .head-title-right li:nth-child(5):hover {
  cursor: pointer;
  background-color: #ffffff;
}
body .head-title .head-title-right .head-title-right-list,
body .head-title .head-title-right .head-title-right-list-ruls {
  width: 68px;
  display: none;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #ffffff;
  position: absolute;
  top: 28px;
  z-index: 99;
}
body .head-title a:hover {
  color: #ffd103;
}
body .background-all {
  background-color: #ffffff;
}
body .head-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 100px;
}
body .head-logo .logo img {
  height: 50px;
}
body .head-logo .search {
  width: 560px;
  margin-right: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
body .head-logo .search input {
  width: 450px;
  height: 35px;
  border: 1px solid #ccc;
  padding: 0 20px;
  outline: none;
}
body .head-logo .search button {
  width: 85px;
  height: 37px;
  background-color: #ffd103;
  color: #fff;
  border: none;
  outline: none;
}
body .head-logo .search button:hover {
  cursor: pointer;
  color: #ffffff;
}
body .head-logo .search .fa-magnifying-glass {
  position: absolute;
  top: 12px;
  right: 58px;
  color: #f5f5f5;
}
body .home-nav-classifications ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  margin-top: 22px;
}
body .home-nav-classifications ul li {
  width: 138px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .home-nav-classifications ul li a {
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  line-height: 55px;
}
body .home-nav-classifications ul li a:hover {
  color: #ffffff;
  background-color: #ffd103;
}
body .home-nav-classifications ul li:first-child {
  width: 240px;
}
body .home-nav-classifications ul li:first-child a {
  color: #ffd103;
}
body .home-nav .home-nav-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .home-nav .home-nav-box .home-nav-right {
  width: 238px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #ffffff;
}
body .home-nav .home-nav-box .home-nav-right ul {
  width: 238px;
}
body .home-nav .home-nav-box .home-nav-right ul li {
  width: 238px;
  height: 30px;
  display: flex;
  color: #616161;
  justify-content: space-between;
  align-items: center;
}
body .home-nav .home-nav-box .home-nav-right ul li:hover span {
  color: #ffd103;
}
body .home-nav .home-nav-box .home-nav-right ul li:hover {
  background-color: #f0f0f0;
}
body .home-nav .home-nav-box .home-nav-right ul li:hover .hidden-latent-perdue {
  display: block;
}
body .home-nav .home-nav-box .home-nav-right ul li a {
  width: 100%;
}
body .home-nav .home-nav-box .home-nav-right ul li a:hover {
  color: #ffd103;
}
body .home-nav .home-nav-box .home-nav-right ul li a .fa-pizza-slice {
  color: #e8882d;
}
body .home-nav .home-nav-box .home-nav-right ul li a .fa-drumstick-bite {
  color: #f6b325;
}
body .home-nav .home-nav-box .home-nav-right ul li a .fa-hospital {
  color: #97675c;
}
body .home-nav .home-nav-box .home-nav-right ul li a .fa-people-roof {
  color: #fbb853;
}
body .home-nav .home-nav-box .home-nav-right ul li a .fa-message {
  color: #f74136;
}
body .home-nav .home-nav-box .home-nav-right ul li a .fa-music {
  color: #4caae3;
}
body .home-nav .home-nav-box .home-nav-right ul li a .fa-headphones-simple {
  color: #38b88d;
}
body .home-nav .home-nav-box .home-nav-right ul li a .fa-child-dress {
  color: #ed4d84;
}
body .home-nav .home-nav-box .home-nav-right ul li a .fa-mug-saucer {
  color: #fb3d7e;
}
body .home-nav .home-nav-box .home-nav-right ul li a .fa-train-subway {
  color: #eb6796;
}
body .home-nav .home-nav-box .home-nav-right ul li a .fa-tent-arrow-down-to-line {
  color: #f6020b;
}
body .home-nav .home-nav-box .home-nav-right ul li a .fa-hand-spock {
  color: #70caab;
}
body .home-nav .home-nav-box .home-nav-right ul li a .fa-shopify {
  color: #52c8ac;
}
body .home-nav .home-nav-box .home-nav-right ul li a .fa-tag {
  color: #48a6ec;
}
body .home-nav .home-nav-box .home-nav-right ul li a .fa-reply-all {
  color: #55cba4;
}
body .home-nav .home-nav-box .home-nav-right ul li a i {
  padding-left: 8px;
  padding-right: 12px;
  vertical-align: baseline;
  line-height: 100%;
  width: 18px;
  text-align: center;
}
body .home-nav .home-nav-box .home-nav-right ul li span {
  font-size: 16px;
  margin-right: 22px;
}
body .home-nav .home-nav-box .home-nav-right ul li .hidden-latent-perdue {
  display: none;
}
body .home-nav .home-nav-box .home-nav-right ul li .hidden-latent-perdue ul {
  position: absolute;
  z-index: 999;
  height: 448px;
  width: 763px;
  top: 208px;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
}
body .home-nav .home-nav-box .home-nav-right ul li .hidden-latent-perdue ul li a {
  display: flex;
  align-items: center;
  line-height: 62px;
  text-align: center;
}
body .home-nav .home-nav-box .home-nav-right ul li .hidden-latent-perdue ul li a:hover {
  background-color: #f0f0f0;
}
body .home-nav .home-nav-box .home-nav-right ul li .hidden-latent-perdue ul li a img {
  margin-left: 20px;
  margin-right: 28px;
  width: 75px;
}
body .home-nav .home-nav-box .home-nav-left {
  height: 450px;
  width: 750px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
body .home-nav .home-nav-box .home-nav-left .home-nav-left-img {
  width: 750px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 270px;
}
body .home-nav .home-nav-box .home-nav-left .home-nav-left-img img {
  height: 256px;
}
body .home-nav .home-nav-box .home-nav-left .home-nav-left-img-two {
  height: 185px;
}
body .home-nav .home-nav-box .home-nav-left .home-nav-left-img-two img {
  height: 177px;
}
body .home-nav .home-nav-box .user-info {
  width: 190px;
  border: 1px solid #ccc;
}
body .home-nav .home-nav-box .user-info .user-info-user {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
body .home-nav .home-nav-box .user-info .user-info-user img {
  border-radius: 50%;
}
body .home-nav .home-nav-box .user-info .user-info-user h3 {
  margin: 10px 0;
}
body .home-nav .home-nav-box .user-info .user-info-user button {
  width: 100px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  color: #616161;
}
body .home-nav .home-nav-box .user-info .user-info-user button:hover {
  color: #ffd103;
}
body .home-nav .home-nav-box .user-info .user-info-user button:last-child {
  margin-top: 10px;
}
body .home-nav .home-nav-box .user-info .user-info-qrcode {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
body .home-nav .home-nav-box .user-info .user-info-qrcode img {
  width: 100px;
  height: 100px;
}
body .home-nav .home-nav-box .user-info .user-info-qrcode p {
  margin: 10px 0;
}
body .home-nav .home-nav-box .user-info .user-info-qrcode span {
  color: #f6020b;
  font-weight: bold;
}
body .el-carousel__item h3 {
  color: #475669;
  font-size: 14px;
  opacity: 0.75;
  line-height: 200px;
  margin: 0;
}
body .el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}
body .el-carousel__item:nth-child(2n+1) {
  background-color: #d3dce6;
}
body .el-carousel__container,
body .el-carousel {
  width: 584px;
  height: 256px;
}

/*常用颜色*/
/*Office 颜色*/
/*灰阶*/
/*Voclaoid 颜色*/
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}

header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th {
  text-align: left;
  font-weight: normal;
}

html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}

i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}

[hidefocus],
summary {
  outline: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
}

sup,
sub {
  font-size: 83%;
}

pre,
code,
kbd,
samp {
  font-family: inherit;
}

textarea {
  overflow: auto;
  resize: none;
}

label,
summary {
  cursor: default;
}

a,
button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
  font-weight: bold;
}

del,
ins,
u,
s,
a,
a:hover {
  text-decoration: none;
}

body,
textarea,
input,
button,
select,
keygen,
legend {
  font: 14px/1.14 arial, "Microsoft Yahei", "WenQuanYi Micro Hei", sans-serif;
  color: #666;
  outline: 0;
}

body {
  background: #fff;
}

a,
a:hover {
  color: #666;
}

/*常用颜色*/
/*Office 颜色*/
/*灰阶*/
/*Voclaoid 颜色*/
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  text-decoration: none;
  list-style: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* 容器 */
.container {
  width: 1200px;
  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: content-box;
}

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 1200px;
  height: 100%;
  background-color: #f0f0f0;
  color: #000000;
  line-height: 1.375;
}/*# sourceMappingURL=mixin.css.map */