#btn {
	border: none;
	outline: none;
	width: 100px;
	height: 30px;
	text-align: center;
	padding: 5px 5px;
	margin: 10px 0px;
	background: #F0F0F0;
	font-size: 14px;
	color: #333;
	cursor: pointer;
}

#div {
	width: 600px;
	height: 100px;
	background: #C0C0C0;
	color: #FFFFFF;
}