@import "./base/color";
@import "./base/global";
@import "./base/reset";
// 自动计算html字体大小，基准字体大小为20px
//自动计算rem函数
@function rem($px) {
	@return ($px / 20) * 1rem;
}

.header-box {
	// 固定定位
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	.header {
		width: 100%;
		height: rem(44);
		background-color: $topColor;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: $aw-color-gray-7;
		.header-left,
		.header-right,
		.header-center {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			width: rem(90);
			&:nth-child(1) {
				font-size: rem(16);
			}
			&:nth-child(2) {
				font-size: rem(22);
			}
			&:nth-child(3) {
				font-size: rem(25);
			}
		}
	}
}
.shopCar-box {
	position: fixed;
	bottom: 0;
	left: 0;
	top: rem(44);
	width: 100%;
	background-color: $aw-color-gray-9;
	overflow-x: hidden;
	overflow-y: auto;
	.shopcar-item {
		background-color: $aw-color-gray-9;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: rem(5);
		.shopcar-item-center {
			img {
				width: rem(115);
			}
		}
		.shopcar-item-right {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
			height: rem(100);
			margin-left: rem(5);
			.shopcar-item-center-bottom {
				margin-top: rem(5);
				span {
					font-size: rem(16);
					color: $aw-color-gray-1;
				}
			}
			.shopcar-item-right-top {
				color: $recommendPriceColor;
			}
			.shopcar-item-right-bottom {
				// 商品数量
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				.shopcar-item-right-bottom-left {
					border: 1px solid #ccc;
					border-radius: rem(5);
					.shopcar-item-right-bottom-left-btn {
						width: rem(22);
						height: rem(20);
						line-height: rem(20);
						text-align: center;
						border-right: 1px solid #ccc;
					}
					.shopcar-item-right-bottom-left-num {
						display: inline-block;
						width: rem(30);
						height: rem(20);
						line-height: rem(20);
						text-align: center;
					}
					.shopcar-item-right-bottom-right-btn {
						width: rem(22);
						height: rem(20);
						line-height: rem(20);
						text-align: center;
						border-left: 1px solid #ccc;
					}
				}
				.shopcar-item-right-bottom-right {
					font-size: rem(16);
					margin-right: rem(80);
				}
			}
		}
	}

	/* 配送方式 */
	.shopcar-delivery {
		width: 100%;
		height: rem(40);
		background-color: #fff;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 rem(10);
		margin: rem(12) 0;
		.shopcar-delivery-title {
			span:last-child {
				font-size: rem(14);
				color: $aw-color-gray-1;
			}
		}
	}
	// 支付方式
	.shopcar-pay {
		width: 100%;
		height: rem(160);
		background-color: #fff;
		margin: rem(12) 0;
		.shopcar-pay-title {
			width: 100%;
			height: rem(40);
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 rem(10);
			span {
				font-size: rem(16);
			}
		}
		.shopcar-pay-content {
			height: rem(120);
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			align-items: center;
			padding: 0 rem(10);
			.shopcar-pay-content-item {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				height: rem(80);
				margin: rem(10) 0;
				.shopcar-pay-content-item-right {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: rem(105);
					img {
						width: rem(40);
						height: rem(40);
					}
					label {
						font-size: rem(14);
						color: $aw-color-gray-1;
					}
				}
				.shopcar-pay-content-item-left {
					// input选中后样式
					input {
						width: rem(20);
						height: rem(20);
						-webkit-appearance: none;
						-moz-appearance: none;
						appearance: none;
						background-color: #fff;
						border: 1px solid #ccc;
						border-radius: 50%;
						position: relative;
						&:checked {
							background-color: $topColor;
							border: 1px solid $topColor;
							&:after {
								content: "";
								display: block;
								width: rem(10);
								height: rem(10);
								border-radius: 50%;
								background-color: #fff;
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
							}
						}
					}
				}
			}
		}
	}
	// 客服电话
	.shopcar-phone {
		height: rem(40);
		background-color: #fff;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 rem(10);
		margin: rem(12) 0;
		.shopcar-phone-title {
			span {
				font-size: rem(16);
			}
		}
		.shopcar-phone-content {
			span {
				font-size: rem(16);
				color: $aw-color-gray-1;
			}
		}
	}
	// 请留言给我们
	.shopcar-leave {
		width: 90%;
		height: rem(160);
		background-color: #fff;
		margin: rem(12) 0;
		.shopcar-leave-title {
			width: 100%;
			height: rem(40);
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 rem(10);
			span {
				font-size: rem(16);
			}
		}
		.shopcar-leave-content {
			width: 100%;
			height: rem(120);
			padding: 0 rem(10);
			textarea {
				width: 100%;
				height: 100%;
				border: 1px solid #ccc;
				border-radius: rem(5);
				padding: rem(10);
				font-size: rem(14);
				color: $aw-color-gray-1;
			}
		}
	}
}
