*{
    margin: 0;
    padding: 0;
}
.xq{
    width: 600px;
    height: 50px;
    line-height: 50px;
    margin: 50px auto;
    background-color: aqua;
    list-style: none;
    display: flex;
}
.xq li{
    flex-grow: 1;
}
.xq a{
    display: block;
    color: black;
    text-decoration: none;
    font-size: 16px;
}
.xq a:hover{
    background-color:#fff ;
    color: blueviolet;
}