* {
	margin: 0px;
	padding: 0px;
}

h2 {
	margin: 20px;
	margin-left: 10px;
}

#box {
	height: 40px;
	line-height: 40px;
	margin-left: 10px;
	font-size: 16px;
	font-weight: 600;
}

#box span {
	margin-right: 4px;
	width: 100px;
	height: 40px;
	display: inline-block;
	line-height: 40px;
	border: 1px solid #666;
	text-align: center;
	font-size: 18px;
	color: firebrick;
	font-weight: 700;
}