.tab {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	width: 960px;
	height: 730px;
	margin: 50px auto;
	border: 1px solid #E0E0E0;
	overflow: hidden;
	background: #FFF;
}

ul.tab-nav,
ul.tab-item {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 50px;
	list-style: none;
	position: relative;
}

ul.tab-nav>li {
	width: 20%;
	height: 50px;
	display: block;
	line-height: 50px;
	text-align: center;
	float: left;
	border-bottom: 1px solid #E0E0E0;
	border-top: none;
	cursor: pointer;
}

ul.tab-nav>li:last-child {
	border-right: none;
}

ul.tab-item>li {
	width: 100%;
	height: 680px;
	position: absolute;
	left: 0px;
	top: 0px;
	/*保证li里边的字体居中*/
	line-height: 680px;
	text-align: center;
	font-size: 56px;
	color: #999;
}

.btn-active {
	color: #212121;
	background: #F0F0F0;
}