
    * {
        margin: 0;
        padding: 0;
    }
    /* *通用配置选择器，设定清零*/
    
    body {
        height: 920px;
        /*高度过小 原代码 height: 920px;*/
        width: 100%;
        /*宽度应该自适应 原代码  width: 880px;*/
        background: url(../media_file/img/博鳌页面框架.png) no-repeat;
        background-size: 100%;
        /*尺寸应该自适应 原代码   background-size: 1500px;*/
    }
    .header {
        height: 260px;
    }
    
    .new h1 {
        margin: 0 auto;
        font-size: 35px;
        /* 文字大小*/
        font-weight: normal;
        /*字体粗细*/
        text-align: center;
        /*文本水平对齐方式，值：居中;*/
        line-height: 60px;
    }
    
    .new {
        width: 1230px;
        margin: 0 auto;
    }
    
    .date {
        font-size: 10px;
        color: rgb(148, 148, 148);
        text-align: center;
        line-height: 35px;
        /*单行高度*/
    }
    
    .news p {
        text-indent: 2em;
        line-height: 30px;
        padding: 4px;
        font-size: 18px;
        font-family: "宋体";
    }
    /* 空格表示选择后代*/