<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>新闻</h2>
    <ul>
        <li><a href="/detail/01/music">新闻信息01</a></li>
        <li><a href="/detail/02/sport">新闻信息02</a></li>
        <li><a href="/detail/03/happy">新闻信息03</a></li>
        <li><a href="/detail/04/military">新闻信息04</a></li>
    </ul>
</body>
</html>