.clerafix::before,
.clerafix::after{
    content: '';
    display: table;
    clear: both;
}
body{
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    min-width: 1226px;
}
.w{
    width: 1226px;
    margin: 0 auto;
}
