/*滑动式轮播图容器样式*/

#carousel {
	/*防止别的设置干扰*/
	margin: 0px;
	padding: 0px;
	/*设置轮播容器大小*/
	width: 960px;
	height: 540px;
	/*居中容器*/
	margin: 50px auto;
	/*盒模式*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/*设置边框*/
	border: 1px solid #E0E0E0;
	/*设置相对定位，方便子元素使用绝对定位*/
	position: relative;
	/*多余部分隐藏*/
	overflow: hidden;
}


/*轮播图图片列表容器样式*/

#carousel_image_container {
	/*防止别的设置干扰*/
	margin: 0px;
	padding: 0px;
	/*清除列表样式*/
	list-style: none;
	/*设置容器大小*/
	width: 5760px;
	height: 540px;
	/*设置容器位置*/
	position: absolute;
	top: 0px;
	left: 0px;
}

#carousel_image_container>li {
	/*设置大小*/
	width: 960px;
	height: 540px;
	/*设置浮动*/
	float: left;
}

#carousel_image_container>li>a {
	/*设置大小*/
	width: 100%;
	height: 100%;
	display: block;
}

#carousel_image_container>li>a>img {
	/*防止别的设置干扰*/
	outline: none;
	border: none;
	margin: 0px;
	padding: 0px;
	/*设置轮播容器大小*/
	width: 100%;
	height: 100%;
	display: block;
}


/*设置底下的小圆样式*/

#carousel_li_container {
	/*防止别的设置干扰*/
	margin: 0px;
	padding: 0px 10px;
	/*清除列表样式*/
	list-style: none;
	/*设置容器大小*/
	height: 25px;
	/*设置边框*/
	border-radius: 20px;
	/*设置位置*/
	position: absolute;
	bottom: 15px;
	left: 50%;
	margin-left: -88.625px;
	z-index: 2000;
	background: #CCC;
	/*设置透明度*/
	opacity: .8;
}

#carousel_li_container>li {
	/*防止别的设置干扰*/
	margin: 3.75px 7px;
	padding: 0px;
	/*设置容器大小*/
	width: 17.5px;
	height: 17.5px;
	/*盒模式*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/*设置边框*/
	border-radius: 50%;
	border: 1px solid #FFF;
	float: left;
	/*设置小手*/
	cursor: pointer;
	/*设置动画效果*/
	transition: all .5s;
}

#carousel_li_container>li.active {
	border: 1px solid orangered;
	background: orangered;
}


/*设置左右控制器样式*/

#carousel_controller {
	display: none;
}


/*当鼠标放到轮播图上时，显示左右控制器*/

#carousel:hover #carousel_controller {
	display: block;
}


/*设置左右控制器样式*/

#carousel_controller span {
	width: 45px;
	height: 60px;
	display: block;
	background: rgba(0, 0, 0, 0.3);
	text-align: center;
	line-height: 60px;
	color: #fff;
	font-size: 26px;
	position: absolute;
	top: 50%;
	margin-top: -30px;
	cursor: pointer;
}


/*当鼠标放到span上的效果*/

#carousel_controller span:hover {
	background: rgba(0, 0, 0, 0.5);
}


/*右边按钮位置*/

#carousel_controller_left {
	left: 0;
}


/*左边按钮位置*/

#carousel_controller_right {
	right: 0;
}