div#starry_sky {
	width: 100%;
	height: 100%;
	background: rgb(64, 64, 64);
	position: fixed;
}

span#stars {
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 20px;
	display: block;
	color: #FFF;
	position: absolute;
}