a, address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}

em {
    font-style: normal;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

input{
    border: none;
    outline: none;
}